:root { 
    --clr-primary: hsl(21, 62%, 45%);
    --clr-primary-1: hsl(21, 65%, 59%);
}

body {
    margin: 0;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
}

.nav-links a {
    color: white; 
}

.navbar a:hover {
    color: var(--clr-primary);
}

ul li {
    margin: 0 2rem 0;
}
 a {
    text-decoration: none;
 }
 .navbar #menu-toggle {
    background-color: var(--clr-primary);
    border: none;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
 }
 .navbar #modal-menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1rem 0;
 }
 .navbar .modal-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
 }
 .navbar .modal-links li {
    font-size: 1.5rem;
    margin: 1rem 0;
 }
 .navbar .modal-links i {
    font-size: 1.5rem;
 }
 .navbar #modal-menu #modal-close {
    background-color: transparent;
    border: none;
 }
 
.cart {
    border: 0;
    background-color: transparent;
}
i {
    font-size: 2rem;
}
/* Hero Section */
.hero {
    padding: 15rem 8rem;
    color: white;
    max-height: 100vh;
    margin-top: -9rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("assets/hero-bg.jpeg")center/cover;
    background-repeat: no-repeat;
}
.hero h1 {
     font-family: 'Kaushan Script', cursive;
     font-size: 5rem;
     line-height: 2rem;
     font-weight: 700;
 }

 .hero h2 {
    font-size: 3rem;
    font-weight: 300;
 }

 .hero-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.6rem 0.85rem;
    display: inline-block;
    margin-top: 0.75rem;
    text-transform: uppercase;
    font-size: 1rem;
    /* font-weight: bold; */
}

.hero-btn:hover {
     cursor: pointer;
     background-color: white;
     color: var(--clr-primary);
 }

 /* Featured Section */
 .featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 7rem;
 }
.featured h3, .history h3 {
    font-size: 3rem;
    font-weight: normal;
}

 #slash {
    color: var(--clr-primary);
 }

#featured-products {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 2rem;
    align-items: center;
    width: 100%;
}
 .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footer {
    padding: 1rem 0;
    text-align: center;
 }
 .footer p {
    margin: 0.25rem 0;
 }

 .all-products-btn {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--clr-primary);
    padding: 0.6rem 2rem;
    border-radius: 0.2rem;
    margin-top: 2rem;
    text-transform: uppercase;
 }

 .all-products-btn:hover {
    color: black;
    background-color: hsl(21, 65%, 59%);
    transition: all 1s ease-out;
 }

 /* Products */
 .route-hero {
    padding: 1.5rem 10rem;
    background-color: #F1F5F8;
 }
 .route-hero h2 {
     color: #617D98;
     font-weight: 500;
     font-size: 2rem;
     margin: 0;
 }

 .history {
    padding: 4rem 10rem;
    text-align: center;
 }
.history h3 {
    margin: 1rem 0;
}
 .history p {
    width: 50%;
    margin: auto;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #617D98;
 }

 @media (max-width: 1250px) {
    #featured-products {
       flex-wrap: wrap;
       justify-content: center;
    }
 }

/* Creating a responsive navbar */
 @media (max-width: 992px) {
    .navbar {
        padding: 1rem 4rem;
    }
    ul li {
        margin: 0 1rem 0;
    }
    .hero {
        padding: 12rem 6rem;
    }
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 2.5rem;
    }

  }
  @media (max-width: 767px) {
    .navbar .nav-links, .navbar .dark-nav-links {
        display: none;
    }
    .hero {
        padding: 10rem 5rem;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h2 {
        font-size: 2rem;
    }
  }
  @media (min-width: 767px) {
    .navbar #menu-toggle {
        display: none;
    }
    .navbar #modal-menu {
        display: none;
    }
  }

  @media (max-width: 500px) {
    .navbar {
        padding: 1rem 2rem;
    }
    .hero {
        padding: 10rem 4rem;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero h2 {
        font-size: 1.5rem;
    }
  }
